<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/main/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title horizontal="fixed">Agregar nueva Ficha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="form" class="ion-no-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <!--============= Patente ===============-->
    <app-custom-imput
    aria-autocomplete="patente"
    [control]="form.controls.patente" 
    type="text"
    label="Patente"
    (input)="toUpperCase('patente')"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.patente.errors && form.controls.patente.touched">
        <div *ngIf="form.controls.patente.errors?.['minlength']">La patente tiene que tener al menos 4 caracteres</div>
        <div *ngIf="form.controls.patente.errors?.['maxlength']">La patente no puede tener más de 6 caracteres</div>
        <div *ngIf="form.controls.patente.errors?.['pattern']">La patente solo puede contener letras mayúsculas y números</div>
    </div>
    <!--============= Numero de OT ===============-->
    <app-custom-imput
    aria-autocomplete="Numero de OT"
    [control]="form.controls.N_Ot" 
    type="text"
    label="Numero de OT"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.N_Ot.errors && form.controls.N_Ot.touched">
        <div *ngIf="form.controls.N_Ot.errors?.['minlength']">El número de OT tiene que tener al menos 3 dígitos</div>
        <div *ngIf="form.controls.N_Ot.errors?.['pattern']">El número de OT solo puede contener números</div>
    </div>

    <!--============= ID Cliente ===============-->
    <app-custom-imput
    aria-autocomplete="ID Cliente"
    [control]="form.controls.id_Cliente" 
    type="text"
    label="ID Cliente"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.id_Cliente.errors && form.controls.id_Cliente.touched">
    <!-- Aquí puedes añadir validadores y mensajes para id_Cliente si es necesario -->
    </div>

    <!--============= Name ===============-->
    <app-custom-imput
    aria-autocomplete="name"
    [control]="form.controls.name" 
    type="text"
    label="Nombre"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.name.errors && form.controls.name.touched">
        <div *ngIf="form.controls.name.errors?.['minlength']">El nombre tiene que tener al menos 4 caracteres</div>
    </div>

    <!--============= Fono ===============-->
    <app-custom-imput
    aria-autocomplete="Fono"
    [control]="form.controls.fono" 
    type="text"
    label="Fono"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.fono.errors && form.controls.fono.touched">
        <div *ngIf="form.controls.fono.errors?.['pattern']">El fono debe tener 10 dígitos</div>
    </div>

    <!--============= Dirección ===============-->
    <app-custom-imput
    aria-autocomplete="Dirección"
    [control]="form.controls.direccion" 
    type="text"
    label="Dirección"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.direccion.errors && form.controls.direccion.touched">
        <div *ngIf="form.controls.direccion.errors?.['minlength']">La dirección tiene que tener al menos 10 caracteres</div>
        <div *ngIf="form.controls.direccion.errors?.['maxlength']">La dirección no puede tener más de 100 caracteres</div>
    </div>

    <!--============= Año del auto ===============-->
    <app-custom-imput
    aria-autocomplete="Año del auto"
    [control]="form.controls.year_Car" 
    type="text"
    label="Año del auto"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.year_Car.errors && form.controls.year_Car.touched">
        <div *ngIf="form.controls.year_Car.errors?.['pattern']">El año del auto debe ser un número de 4 dígitos</div>
    </div>

    <!--============= Kilometraje ===============-->
    <app-custom-imput
    aria-autocomplete="Kilometraje"
    [control]="form.controls.km" 
    type="text"
    label="Kilometraje"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.km.errors && form.controls.km.touched">
        <div *ngIf="form.controls.km.errors?.['pattern']">El kilometraje solo puede contener números</div>
    </div>

    <!--============= Car ===============-->
    <app-custom-imput
    aria-autocomplete="car"
    [control]="form.controls.car"
    type="text"
    label="Car"
    (input)="toUpperCase('car')"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.car.errors && form.controls.car.touched">
        <div *ngIf="form.controls.car.errors?.['pattern']">El campo solo puede contener letras mayúsculas</div>
    </div>

    <!--============= Marca ===============-->
    <app-custom-imput
    aria-autocomplete="marca"
    [control]="form.controls.marca"
    type="text"
    label="Marca"
    (input)="toUpperCase('marca')"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.marca.errors && form.controls.marca.touched">
        <div *ngIf="form.controls.marca.errors?.['pattern']">El campo solo puede contener letras mayúsculas</div>
    </div>

    <!--============= Modelo ===============-->
    <app-custom-imput
    aria-autocomplete="modelo"
    [control]="form.controls.modelo"
    type="text"
    label="Modelo"
    (input)="toUpperCase('modelo')"
    ></app-custom-imput>
    <div class="validator" *ngIf="form.controls.modelo.errors && form.controls.modelo.touched">
        <div *ngIf="form.controls.modelo.errors?.['pattern']">El campo solo puede contener letras mayúsculas</div>
    </div>
    <!--============= Acciones realizadas ===============-->
    <div class="large-form">
        <ion-item>
          <ion-label>Acciones Realizadas</ion-label>
          <ion-textarea formControlName="acciones_realizadas" placeholder="Escriba las acciones realizadas aquí..."></ion-textarea>
        </ion-item>
      </div>

    <!--============= Imagen ===============-->
    <!--============= Checkbox Form ===============-->
    <form [formGroup]="checkboxForm" horizontal="fixed" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col size="0" size-md="3.5">
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="filtro"></ion-checkbox>
                <ion-label class="checkbox-label">Se realiza revisión y limpieza de filtro de polen cabina.</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="fugas"></ion-checkbox>
                <ion-label class="checkbox-label">Se realiza prueba de fugas c/gas nitrógeno a 200 psi.</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="vacio_bomba"></ion-checkbox>
                <ion-label class="checkbox-label">Se realiza vacio de sistema con bomba 6 cfm, 30 min.</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="inyeccion_aceite"></ion-checkbox>
                <ion-label class="checkbox-label">Se realiza inyección de aceite pag sintetico 50 ml.</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="inyeccion_tinta"></ion-checkbox>
                <ion-label class="checkbox-label">Se realiza inyección de tinta uv dye 5 ml.</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="3.5">
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="carga_gas"></ion-checkbox>
                <ion-label class="checkbox-label">Se realiza carga de gas R134a</ion-label>
                <ion-input formControlName="carga_gas_val" placeholder="gr" *ngIf="checkboxForm.controls.carga_gas.value"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="prueba_funcionamiento"></ion-checkbox>
                <ion-label class="checkbox-label">Se realiza prueba de funcionamiento a</ion-label>
                <ion-input formControlName="prueba_funcionamiento_val" placeholder="rpm" *ngIf="checkboxForm.controls.prueba_funcionamiento.value"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="lectura_difusores"></ion-checkbox>
                <ion-label class="checkbox-label">Lecturas de T* de difusores de aire:</ion-label>
                <ion-input formControlName="lectura_difusores_val" placeholder="lectura" *ngIf="checkboxForm.controls.lectura_difusores.value"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="lectura_presiones"></ion-checkbox>
                <ion-label class="checkbox-label">Se toma lectura de presiones de sistema</ion-label>
                <ion-input formControlName="lectura_presiones_baja_val" placeholder="Baja psi" *ngIf="checkboxForm.controls.lectura_presiones.value"></ion-input>
                <ion-input formControlName="lectura_presiones_alta_val" placeholder="Alta psi" *ngIf="checkboxForm.controls.lectura_presiones.value"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox slot="start" formControlName="garantia"></ion-checkbox>
                <ion-label class="checkbox-label">Garantía de 3 meses</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </form>
    </form>
</ion-content>