.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px; /* Ajusta el valor según sea necesario */
}

.image-icon {
  font-size: 100px;
  opacity: 30%;
  margin-bottom: 0px;
}

.take-image-button {
  margin-top: 20px; /* Ajusta este valor según tus necesidades */
}

ion-avatar {
  width: 200px;
  height: 160px;
  --border-radius: 15px;
  margin-bottom: 0px;
}

button {
  margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}

.contenido {
  display: flex;
  justify-content: flex-start; /* Alinea el checkbox y el texto al inicio */
  align-items: center;
  margin-bottom: 10px; /* Espacio entre cada elemento, ajusta según sea necesario */
}

.checkbox-label {
  margin-left: 10px; /* Espacio entre el checkbox y el texto, ajusta según sea necesario */
}

ion-checkbox {
  width: auto;
  margin-right: 10px; /* Espacio entre el checkbox y */
}
.custom-margin {
  margin-right: 10px; /* Ajusta el valor del margen según tus necesidades */
}
ion-content {
  --padding-bottom: 100px;
   /* Esto asegura que el contenido tenga al menos el alto de la ventana de visualización */
   /* Esto permite que el contenido crezca según su contenido interno */
}
ion-item ion-label {
  margin-left: 8px; /* Ajusta este valor según tus necesidades */
}